html, body{
  scroll-behavior: smooth;
  cursor: pointer;
}
  /* body::before {
    display: block;
    content: '';
    height: 60px;
   } */
   
  *::before,*::after{
   box-sizing: border-box;
   scroll-behavior: smooth;
   }

   /* === loader ===*/

#loader-container{
  /* position: absolute; */
  width: 100%;
  height: 100vh;
  /* inset: 0; */
  background-color: #000;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 5s;
  z-index: 9999999;
}
.loader{
  width: 50px;
  height: 50px;
  border: 3px solid;
  color: #3498db;
  border-radius: 50%;
  border-top-color: transparent;
  border-bottom-color: transparent;
  animation: loader 1.2s linear infinite;
}

@keyframes loader {
  25%{
      color:#2ecc71;
  }
  50%{
      color: #f1c40f;
  }
  75%{
      color: #e74c3c;
  }
  to{
      transform: rotate(360deg);
  }
}

  /* ==== loader end ====*/

  /* === social media side-menu */

  main{
    position: fixed;
    top: 30%;
    right: -200px;
    width: 200px;
    background-image: linear-gradient(hsl(180, 70%, 25%),lightblue);
    transition: all 0.4s linear;
    z-index: 1000;
  }
  main.active{
    right:0;
  }
  main a{
    text-decoration: none;
    display: block;
    padding: 14px 10px;
    color: black;
    font-size: clamp(15px, 50%, 18px);
    transition: all 0.4s linear;
  }
  main a i{
    width: 40px;
    font-size: clamp(15px, 50%, 18px);
    text-align: center;
    color: rgb(247, 1, 1);
  }
  main a:hover{
    background-color: #333;
    color: rgb(255, 115, 0);
  }
  .toggle-btn{
    position: absolute;
    left: -31px;
    top: 40%;
    width: 30px;
    height: 40px;
    background: #333;
    color: #f1f1f1;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    display: grid;
    place-content: center;
    transition: transform 0.5s ease;
  }

  @media (hover: hover) and (pointer: fine){
    .toggle-btn:hover,
    .toggle-btn:focus{
      transform: rotate(1turn);
      outline: none;
}
  }
  html.touch *:hover{
    pointer-events: none !important;
  }
  /* === social media side-menu end */

   /* === scroll to top === */

   @media screen and (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
    #back-top {
      z-index: 999999;
      color: rgb(255, 123, 0);
      position: fixed;
      bottom: 2%;
      right: 2%;
      -webkit-transition: 1s;
      -moz-transition: 1s;
      transition: 1s;
      font-size: clamp(14px, 50%, 16px);
    }
  }
   /* === nav bar == */

/*.navbar .navbar-brand{
    font-size: 1.5rem;
    background-color: white;
    background-image: linear-gradient(to right, red, white);
    background-blend-mode: multiply;
    background-clip: text;
    -webkit-background-clip: text;
    /* color: transparent; */
    /* -webkit-text-fill-color: transparent;
    animation: move 2s linear infinite; 
    -webkit-animation: move 2s linear infinite; 
    
  }*/
  /* @keyframes move {
      0%{
        background-position: 0% 30%;
      }
      100%{
        background-position: 100% 50%;
      }
  }
  .navbar .nav-item{
    margin-left: 1em;
  }

  .button{
      border: none;
      box-shadow: none;
  }
  @media all and (max-width:768px) {
    .navbar .navbar-brand{
      font-size: 1.1rem;
    }
    .navbar .nav-item{
      margin-left: 0;
      font-size: 16px;
  }
  .navbar .navbar-toggler{
    font-size: 15px;
    padding:0.2rem 0.6rem;
  }
  .navbar button.navbar-toggler:focus{
    box-shadow: none;
    border: 0.02px solid rgba(38, 0, 255, 0.35);
  }
  }  */

  /* css nav bar */

  header{
    position: sticky;
    top:0;
    left: 0; right: 0;
    font-family: sans-serif;
    background: #212529;
    padding: 5px 10px;
    z-index: 1000;

    transition: all 300ms ease-in-out;
  }
  header ul{
    list-style-type: none;
    overflow: hidden;
    max-height: 50px;
    transition: max-height 0.4s ease-out;
  }

  header.red{
    background-color: orange;
  }
  header.white{
    background-color: rgb(51, 255, 0);
  }

  header li{
    padding: 15px 5px;
  }
  header li a{
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    position: relative;
    transition: color 250ms ease;
  }
  header li a:hover{
    color: hsl(0, 0%, 80%);
  }
  header li:not(:first-child, :last-child) a::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    left: 0;
    background: white;
    display: block;
    bottom: 0px;
    transform: scaleX(0%);
    transform-origin: center;
    transition: transform 250ms ease;
  }
  header li:not(:first-child,:last-child) a:hover::after{
    transform: scaleX(100%);
  }
  .logo small{
    color: gray;
  }

        /* mobile view*/

  .menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  header .menu-icon{
    cursor: pointer;
    padding: 15px 10px;
    position: relative;
    display: block;
    margin-top: 10px;
    transition: transform 0.5s ease;
  }
  header .menu-icon:hover,
  header .menu-icon:focus{
    transform: rotate(1turn);
  }
  header .menu-icon .nav-icon{
    cursor: pointer;
    background: #999;
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
    transition: background 0.2s ease-out;
  }
  .nav-icon::before,.nav-icon::after{
    content: "";
    background: #999;
    display: inline-block;
    height: 2px;
    position: absolute;
    width: 18px;
    transition: all 0.2s ease-in-out;
}
.nav-icon::before{
    top:5px;
}
.nav-icon::after{
    top: -5px;
}
#menu-btn{
  display: none;
}
.logo{
  white-space: nowrap;
  flex: 1;
  font-size: 1.1rem;
  padding: 0;
}
ul.menu{
  padding: 0;
  margin: 0;
}
.menu-icon{
  /* order: 2; */
  float: right;
}
.item.button{
  order: 1;
  width: auto;
  display: block;
}
.item{
  width: 100%;
  order: 3;
  text-align: center;
}
.menu .button a{
  text-decoration: none;
  padding: 7px 15px;
  background: teal;
  border: 1px solid #006d6d;
  border-radius: 50em;
}
.button a:hover{
  background: #006d6d;
  border-color: #005959;
  transition: all 0.25s;
}

       /* tablet view */

  @media all and (min-width:468px){
    .item{
        text-align: start;
    }
  }

        /* laptop view*/

  @media all and (min-width:768px){
    .item{
      display: block;
      width: auto;
    }
    header .menu-icon{
      display: none;
    }
    .logo{
      order: 0;
    }
    .item{
        order:1
    }
    .button{
        order:2;
    }
    .menu li{
        padding: 15px 10px;
    }
    .menu li.button{
        padding-right: 0;
    }
      /* ==== cursor animation */

  .cursor{
    pointer-events:none;
    height: 50px;
    width: 50px;
    background: #e7c82f;
    opacity: 0.8;
    border-radius: 50%;
    position: absolute;
    display: none;
    transition: 0.5s ease-out;
    transform: scale(0.6);
    z-index: 99999999;
    mix-blend-mode: difference;
}
.cursor-expand{
  animation: cursor 0.5s forwards;
}
@keyframes cursor {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(2);
  }
  100%{
    box-shadow: 0 0 1px 10px yellowgreen;
    transform: scale(1);
    opacity: 0;
  }
}
/* ==== cursor end */
}

header .menu-btn:checked ~ .menu{
  max-height: 360px;
}
header .menu-btn:checked ~ .menu-icon .nav-icon{
    background: transparent;
}
header .menu-btn:checked ~ .menu-icon .nav-icon:before{
    transform: rotate(-45deg);
    top: 0;
}
header .menu-btn:checked ~ .menu-icon .nav-icon:after{
    transform: rotate(45deg);
    top: 0;
}

/* === scroll stuff === */
      
.scroll-down header{
  transform: translate3d(0, -100%, 0);
}
/* .scroll-up header{
  filter: drop-shadow(0 -10px 20px rgb(170,170,170));
} */

/* scroll stuff */
  /* === css nav bar end === */

  /* svg  */

  /* .icon{
    width: 0.9rem;
  }
  svg{
    display: flex;
    order: -1;
    position: relative;
    left: 3.5%;
    fill:none;
    stroke: black;
  }
  input:focus{
    outline: none;
    border-color: hsl(0,0%,25%);
  } */

  /* === svg === */
 
  #home-intro{
    background-image: linear-gradient(hsl(180, 70%, 25%),lightblue);
    background-blend-mode: difference;
  }
  @media all and (max-width:425px){
  #map {
    width: 250px;
    height: 250px;
    border-radius: 10px;
  }
}
  @media all and (min-width: 768px) {
    .news-input {
      width: 50%;
    }
  }

  /* === bubble animation */
  .images{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: -70px;
  }
  .images img{
    /* overflow: hidden; */
    object-fit: cover;
    width: 30px;
    animation: bubble 7s linear infinite;
  }
  @keyframes bubble {
    0%{
      transform: translateY(0);
      opacity: 0;
    }
    50%{
     
      opacity: 1;
    }
    70%{
      
      opacity: 1;
    }
    100%{
      transform: translateY(-90vh);
      opacity: 0;
    }
    
  }
.images img:nth-child(1){
  animation-delay: 2s;
  width: 25px;
}
.images img:nth-child(2){
  animation-delay: 1s;
  width: 15px;
}
.images img:nth-child(3){
  animation-delay: 2s;
  width: 25px;
}
.images img:nth-child(14){
  animation-delay: 3s;
  width: 10px;
}
.images img:nth-child(5){
  animation-delay: 4.5s;
  width: 20px;
}
.images img:nth-child(6){
  animation-delay: 6s;
  width: 35px;
}
  /* === bubble animation end */