body::before {
    display: block;
    content: '';
    height: 60px;
  }
  *::before,*::after{
   box-sizing: border-box;
   overflow-x: hidden;
  }
.navbar .navbar-brand{
    font-size: 1.5rem;
  }
  .navbar .nav-item{
    margin-left: 1em;
  }
  .button{
      border: none;
      box-shadow: none;
  }
  @media all and (max-width:768px) {
    .navbar .navbar-brand{
      font-size: 1.1rem;
    }
    .navbar .nav-item{
      margin-left: 0;
      font-size: 16px;
  }
  .navbar .navbar-toggler{
    font-size: 15px;
    padding:0.2rem 0.6rem;
  }
  .navbar button.navbar-toggler:focus{
    box-shadow: none;
    border: 0.01px solid rgba(38, 0, 255, 0.35);
  }
  }
  @media all and (max-width:425px){
  #map {
    width: 250px;
    height: 250px;
    border-radius: 10px;
  }
}
  @media (min-width: 768px) {
    .news-input {
      width: 50%;
    }
  } 